LLM_API_KEY=
LLM_MODEL_NAME=gemini-2.0-flash
JWT_SECRET=
POSTGRES_PASSWORD=
IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USERNAME=
IMAP_PASSWORD=

SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_RECRUITER_EMAIL=
SEED_RECRUITER_PASSWORD=

MAIL_USERNAME=
MAIL_PASSWORD=
